//- 路径
-var URL = '../';
-var CSS = '../css/';
-var IMG = '../images/';
-var JS = '../js/';
-var PUG = '../pug/';
//- 方法
//- +head({
//-     title: 'index',
//-     link: [
//-         'style.css',
//-         'index.css'
//-     ],
//-     scripts: [
//-         'index.js'
//-     ],
        //-bgClass: ''
//- })
mixin head(opts)
    <!DOCTYPE html>
    html(lang="zh-cn")
        head
            meta(charset="UTF-8")
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
            meta(http-equiv="X-UA-Compatible", content="ie=edge")
            meta(name="keywords", content="")
            meta(name="description", content="")
            title #{opts.title}
            link(rel="stylesheet", href=CSS + "style.css")
            if opts.links
                each link in opts.links
                    link(rel="stylesheet", href=CSS+ link)
            script(src=JS+ "px2rem.min.js")
        body(class=opts.bgClass ? 'bodyBg--' + opts.bgClass: '')
            block
            //-script(src= JS + "common.js")
            if opts.scripts
                each script in opts.scripts
                    script(src= JS + script)


//- +headBar({
//-     return: true,
//-     title: '标题',
//-     menu: '完成'
//- })
mixin topBar(opts)
    .topBar(class= opts.shadow ? 'topBar--shadow': '')
        if(opts)
            if(opts.return)
                if(opts.return.type === 'icon')
                    a(href="javascript:;", class= opts.return.color ? 'topBarColor--' + opts.return.color : '').topBar__return.topBar__return--icon #{opts.return.text}
                else
                    a(href="javascript:;", class= opts.return.color ? 'topBarColor--' + opts.return.color : '').topBar__return #{opts.return.text}
            else
                a(href="javascript:;").topBar__return.topBar__hidden

            if(opts.title)
                h1.topBar__title(class=opts.title.color ? 'topBarColor--' + opts.title.color : '') #{opts.title.text}
            else
                h1.topBar__title.topBar__hidden

            if(opts.menu)
                if(opts.menu.type === 'icon')
                    a(href="javascript:;", class=opts.menu.color ? 'topBarColor--' + opts.menu.color : '').topBar__menu #{opts.menu.text}
                else
                    a(href="javascript:;", class=opts.menu.color ? 'topBarColor--' + opts.menu.color : '').topBar__menu #{opts.menu.text}
            else
                a(href="javascript:;").topBar__menu.topBar__hidden


mixin topBar2()
    .topBarNav
        a(href="javascript:;").topBarNav__return
        ul.topBarNav__list
            li.topBarNav__item.topBarNav__item--active
                a(href="javascript:;").topBarNav__link 我的方案
            li.topBarNav__item
                a(href="javascript:;").topBarNav__link 装修日记
            li.topBarNav__item
                a(href="javascript:;").topBarNav__link 评价打分

